---
  root: true
  env:
    browser: true
    es6: true
    jest: true
    node: true
  extends:
    - eslint:recommended
    - airbnb
    - prettier
  parser: babel-eslint
  plugins:
    - babel
    - import
    - jest
    - react
    - prettier
  rules:
    camelcase: off
    prettier/prettier: error
    react/destructuring-assignment: off
    react/require-default-props: off
    react/jsx-one-expression-per-line: off
    react/jsx-wrap-multilines: off
    import/prefer-default-export: off
    jsx-a11y/anchor-is-valid:
      - error:
        aspects:
         - invalidHref
         - preferButton
        components:
          - Link
        specialLink:
          - hrefLeft
          - hrefRight
